#home_header {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), url("../images/HomePage/homepage01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
}

#home_header h2 {
    color: #fff;
    font-size: 2.6rem;
    letter-spacing: 1px;
}

#home_header p {
    width: 50%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#home_header .btn {
    margin-top: 30px;
}

#home_header a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background: #fff;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.3s ease;
}

#home_header a.blue {
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
    background: rgb(21, 21, 100);
}

#home_header a.blue:hover {
    background: #f7f3e9;
    color: rgb(21, 21, 100);
}

#home_header a.yellow {
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
    background: #FDC93B;
}

#home_header a.yellow:hover {
    background: #f7f3e9;
    color: rgb(21, 21, 100);
}

#features {
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box {
    background: #F9F9FF;
    padding: 2rem;
    text-align: start;
}

#features .fea-box i {
    font-size: 2.3rem;
    color: rgb(44, 44, 80);
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
}

#features .fea-box p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}






.content .btn1{
    margin-right: 2%;
    background-color: #f20091;
    border: 1px solid #f20091;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 45%;
}


.btn1:hover {
    border-color: #E4AEC5;
    background-color:#E4AEC5;
    color: #FFFFFF;
    
  }
  
.btn1:active {
    border-color: #FFC4DD;
    color: #FFC4DD;
    fill: #FFC4DD;
}


.content .btn2{
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
    border: 1px solid transparent;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 45%;

}

.btn2:focus {
  color: #171e29;
}

.btn2:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.btn2:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}


@media screen and (max-width: 680px) {
    .hero {
        height: 70vh;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
    .btnbox{
        display: grid;
        grid-template-columns: repeat(1,222%);
    }
    .btn1{
        margin-bottom: 1%;
    }

}










.homepage {
    width: 100%;
}

.homepage .icon{
    width: 50%;
    margin-left: 45%;
}

.homepage hr{
    margin: 5% 0 0 5%;
    width: 90%;
}

.boxcon1{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin: 5% 5% 0;
}

.best1 h1{
    margin: 3% 0 0 3%;
}

.best1 h2{
    margin-left: 12%;
}

.best1 p{
    margin: 20% 5% 0 -15%;
}

.img1{
    width: 70%;
    margin: -7% 0 0 -5%
}

.boxcon1 .container1{
    width: 150%;
    margin-left: -50%;
}

.best3{
    margin-left: 3%;
}

.best3 h1{
    margin-top: 3%;
}

.best3 h4{
    margin: 1% 0 3% 0;
}

.boxcon3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.boxcon3 .icon2{
    width: 70%;
    height: 70%;
}

@media screen and (max-width:940px) {
    .best1 {
        margin: 1rem 0;
    }

    .homepage .icon {
        width: 35%;
    }
    .boxcon1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 10%;
    }

    .best1 p{
        margin: 5% 0 0 5%;
    }

    .best1 > div p {
        margin: 1rem;
        font-size: 1rem;
    }

    .best1 .container1 {
        margin-bottom: 10%;
    }

    .img1{
        width: 70%;
        margin: -7% 0 0 -20%;
    }

    .boxcon3 .container{
        margin-top: 5%;
    }

    .boxcon3{
        margin-left: 15%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}

@media screen and (max-width: 478px) {
    .best1 > div p {
        margin: 1rem .5rem;
    }

}
